@using ETicaret.Shared.Dal.Concrete
@model List<Category>


@{  
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form  onsubmit="return submitForm(this)"  class=form-group method="get"  asp-controller="Product" asp-action="Test" enctype="multipart/form-data" id="form1">
    <div class="col12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class=form-sample>
                    <div>
                        <label>Ürünün Adı</label>                        
                        <input type="text" name="Name"  class="form-control" required/>


                        
                         
                    </div>
                    
                        <select name="CategoryID">
                             @foreach (var item in Model)
                             {
                                 <option itemid="CategoryID" value="@item.Id">@item.Name</option>
                             }
                         </select>
                                                                                 
                  @* <div class=form-group>

                        <label>Kategori</label>                                                
                        @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>) ViewBag.cv , new {@class="form-control"})
                        
                    </div>*@

                                    

                        </div>
                    <div class=form-group>

                        <label>Stok</label>                        
                        <input type="number" name="Stock" id="Stock" class="form-control"  required/>
                       

                      @*  $("#lbl_"+result.Property).removeClass("d-none").addClass("class","d-block").empty().append(result.message + "<span class"text-danger">*</span>");*@
                      @*$("#errors").append("<label>result.message</label>");*@
                    </div>
                    <div class=form-group>

                        <label>Açıklama</label>                                                
                        <textarea typeof="text" name="Description" id="Description" class="form-control" required></textarea>
                        
                    </div>
                    <div class=form-group>
                        <label>Fiyat</label>                        
                        <input type="number" name="Price" id="Price"  class="form-control" required/>
                         

                    </div>
                    <label>Ürünün Görseli</label>      
                    <div class=form-group>
                        
                        <input type="file" name="file" id="Path" required />
                         
                    </div>
              @*      <div id="errors">*@

                    </div>
                    <button type="submit" id="btn"  >Kaydet</button>

                                <span id="lblName"></span>


                </div>
            </div>
       

   
</form>
   
         <script>

      function submitForm(t) {
           
           $.post(t.action, $(t).serialize(), function(response) {
                   console.log(response);
               }).fail(function(xhr) {
                    console.log(xhr);
                });
                return false;
            }



    </script>
 












