@using ETicaret.Shared.Dal.Concrete
@model List<Order>
@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>OrderList</h1>

@foreach (var item in Model)
{
    <h1>@item.Id</h1>
}



