
@{
ViewData["Title"] = "Home";   
Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="slider-container rev_slider_wrapper" style="height: 500px;">
				<div id="revolutionSlider" class="slider rev_slider manual">
					<ul>
						<li data-transition="fade">
							<img src="../img/demos/shop/slides/shop9/slide1.jpg"  
								alt="slide bg"
								data-bgposition="center center" 
								data-bgfit="cover" 
								data-bgrepeat="no-repeat"
								class="rev-slidebg">

							<div class="tp-caption"
								data-x="left" data-hoffset="105"
								data-y="center" data-voffset="-92"
								data-start="500"
								style="z-index: 5; font-size: 20px; font-weight: 300; line-height:1;color:#a39a8c;"
								data-transform_in="y:[100%];opacity:0;s:500;">Feel the real</div>

							<div class="tp-caption text-primary"
								data-x="left" data-hoffset="90"
								data-y="center" data-voffset="-50"
								data-start="1000"
								data-whitespace="nowrap"						 
								data-transform_in="y:[100%];s:500;"
								data-transform_out="opacity:0;s:500;"
								style="z-index: 5; font-size: 65px; font-weight:400; font-style:italic;line-height:1;"
								data-mask_in="x:0px;y:0px;"><span style="font-weight: 800;">MOBILE</span> music</div>

							<div class="tp-caption"
								data-x="left" data-hoffset="455"
								data-y="center" data-voffset="2"
								data-start="1500"
								style="z-index: 5; font-size: 37px; font-weight: 700; line-height:1;color: #010101;"
								data-transform_in="y:[100%];opacity:0;s:500;">$999</div>
							
							<div class="tp-caption"
								data-x="left" data-hoffset="425"
								data-y="center" data-voffset="46"
								data-start="2000"
								style="z-index: 5; font-size: 15px; font-weight: 600; line-height:1;"
								data-transform_in="y:[100%];opacity:0;s:500;"><a href="#" class="slider-btn-wicon">SHOP NOW <i class="fa fa-angle-right"></i></a></div>

							<div class="tp-caption"
								data-x="center"
								data-y="top"
								data-start="1200"
								data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;" style="z-index: 4;"><img src="../img/demos/shop/slides/shop9/item1.png" alt="Item"></div>
						</li>
						<li data-transition="fade">
		

							<div class="tp-caption"
								data-x="center"
								data-y="top"
								data-start="1200"
								data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1000;" style="z-index: 4;"><img src="../img/demos/shop/slides/shop9/item2.png" alt="Item"></div>
						</li>
					</ul>
				</div>
			</div>


				<div class="homepage-bar">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<i class="fa fa-truck bar-icon"></i>
							<div class="bar-textarea">
								<h3>FREE SHIPPING &amp; RETURN</h3>
								<p>Free shipping on all orders over $99.</p>
							</div>
						</div>
						<div class="col-md-4">
							<i class="fa fa-dollar bar-icon"></i>
							<div class="bar-textarea">
								<h3>MONEY BACK GUARANTEE</h3>
								<p>100% money back guarantee.</p>
							</div>
						</div>
						<div class="col-md-4">
							<i class="fa fa-support bar-icon"></i>
							<div class="bar-textarea">
								<h3>ONLINE SUPPORT 24/7</h3>
								<p>Lorem ipsum dolor sit amet.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
						<div class="container">
				<div class="tabs home-products-tab">
					<ul class="nav nav-links">
						<li class="active">
							<a href="#featured" data-toggle="tab">Featured</a>
						</li>
						<li>
							<a href="#latest" data-toggle="tab">Latest <span class="hidden-xs">Products</span></a>
						</li>
					</ul>
						<h1>HOME</h1>
						<form asp-action="CreateOrder" asp-controller="Order">
							<button type="submit">Ekle</button>
						</form>
				</div>
			</div>



 