@using ETicaret.Shared.Application.DTOs;
@using ETicaret.Shared.Dal.Concrete
@model List<CategoryDTO>



@{
    ViewData["Title"] = "ListCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}







<br />

    <button type="button" class="btn btn-primary p-3"  ><a href="~/Category/AddCategory" style="color:white">Yeni Kategori Ekle</a></button>
    <br />    <br />






<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Adı</th>
            <th scope="col">Durumu</th>
            <th scope="col">Oluşturulma Tarihi</th>
            <th scope="col">Değiştirilme Tarihi</th>
            <th scope="col">Düzenle</th>
            <th scope="col">Sil</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                @*@if (item.IsActive == true)
                {
                    <td>Aktif</td>
                }
                else
                {
                    <td>Pasif</td>
                }

                <td>@item.CreateDate</td>
                <td>@item.ModifiedDate</td>*@
                <td><a href="~/Category/UpdateCategory/@item.Id" class="btn btn-primary">Düzenle</a></td>
                <td><a href="~/Category/DeleteCategory/@item.Id" class="btn btn-warning">Sil</a></td>
            </tr>
        }


    </tbody>


</table>






